# Bot Token
BOT_TOKEN=

# Mongo Database Connection String
MONGO_CONNECTION=

# Whether to use local config or not
OWNER_IDS=
LOCAL_CONFIG=1

# Dashboard
SERVER_PORT=3000
CLIENT_SECRET=
DASHBOARD_SECRET=
BASE_URL=http://localhost:8080
