# Bot Token
BOT_TOKEN=

# Mongo Database Connection String
MONGO_CONNECTION=

# Owner ID's (Multiple ID's should be separated by a comma)
OWNER_IDS=

# Local Mode (If enabled, the bot will use local config and locales)
LOCAL_CONFIG=0

# Dashboard
SERVER_PORT=3000
CLIENT_SECRET=
DASHBOARD_SECRET=
BASE_URL=http://localhost:8080
