# Folders
.vscode/
node_modules/
logs/

# Files
.DS_Store
.env
package-lock.json
yarn.lock

# Extensions
*.log
*.tar.gz

# Dashboard build
src/dashboard/public/app.bundle.js
src/dashboard/public/app.bundle.js.map
src/dashboard/public/app.css
src/dashboard/public/app.css.map