<html lang="en"><head>
   <title>Your Bot - a Discord Bot</title>
   <link href="css/landing.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <link href="https://unpkg.com/tippy.js@6/animations/scale.css" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
   <a data-tippy-content="Back To Top." id="backtotop">
   <i class="fa-solid fa-angle-up has-text-white fa-2xl mt-5"></i>
   </a>
   <nav aria-label="main navigation" role="navigation" class="navbar is-fixed-top">
      <div class="navbar-brand mb-2 mt-2">
         <a href="#" class="navbar-item">
         <strong>Your Bot</strong>
         </a>
         <a aria-expanded="false" aria-label="menu" data-target="navMenu" class="navbar-burger has-text-white" role="button">
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         </a>
      </div>
      <div class="navbar-menu" id="navbarBasicExample">
         <div class="navbar-start">
            <a class="navbar-item is-tab" href="#"> Home </a>
            <a class="navbar-item is-tab" href="#features"> Features </a>
            <a class="navbar-item is-tab" href="#stats"> Stats </a>
         </div>
         <div class="navbar-end">
            <a class="navbar-item is-tab" href="#">
            <i class="fa-brands fa-discord"></i>
            </a>
            <a class="navbar-item is-tab" href="#">
            <i class="fa-brands fa-github"></i>
            </a>
            <div class="navbar-item">
               <div class="buttons">
                  <a class="button is-blurple" href="/dashboard">
                  <strong><i class="fa-solid fa-right-to-bracket mr-2"></i> Dashboard</strong>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </nav>
   <section class="hero bg-base is-fullheight">
      <div class="hero-body">
         <div class="">
            <div class="columns">
               <div data-aos="fade-up" class="column mr-6 mt-12">
                  <p class="title has-text-white has-text-weight-bold">Time to add [your bot] to your server.</p>
                  <p class="subtitle has-text-grey-light is-size-6 mt-3">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                     dolore magna aliqua.
                  </p>
                  <div class="buttons">
                     <a class="button is-info" href="#">
                     <strong>Add To Discord</strong>
                     </a>
                     <a class="button is-primary is-outlined" href="#">
                     <strong><i class="fa-solid fa-crown"></i> Premium</strong>
                     </a>
                  </div>
               </div>
               <div data-aos="fade-left" class="column mt-6">
                  <img style="width: 20rem" alt="hero image" src="https://raw.githubusercontent.com/JastinXyz/discord-bot-landing-page-web/main/assets/img/relaunch_day.svg" class="image has-image-centered vert-move mt-4">
               </div>
            </div>
         </div>
      </div>
      <div data-tippy-content="Scroll Down" class="has-text-centered">
         <a href="#features"><i class="fa-solid fa-circle-chevron-down fa-lg vert-move2 has-text-white"></i></a>
      </div>
   </section>
   <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
      <path d="M0,288L24,261.3C48,235,96,181,144,154.7C192,128,240,128,288,149.3C336,171,384,213,432,202.7C480,192,528,128,576,133.3C624,139,672,213,720,213.3C768,213,816,139,864,101.3C912,64,960,64,1008,106.7C1056,149,1104,235,1152,240C1200,245,1248,171,1296,144C1344,117,1392,139,1416,149.3L1440,160L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z" fill-opacity="1" fill="#1a2634"></path>
   </svg>
   <section class="section mt-6" id="features">
      <div class="has-text-centered">
         <h1 class="title lined">Features</h1>
         <div class="line line-center blurple"></div>
      </div>
      <div class="single-feature">
         <div class="columns mt-6">
            <div class="column mr-6">
               <h4 class="title">Feature <span class="blurple">#1</span></h4>
               <p class="subtitle mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.
               </p>
            </div>
            <div data-aos="fade-left" class="column">
               <img style="width: 23rem" alt="feature1 img" src="https://raw.githubusercontent.com/JastinXyz/discord-bot-landing-page-web/main/assets/img/features1.svg" class="image has-image-centered">
            </div>
         </div>
      </div>
      <div class="single-feature">
         <div class="columns mt-6">
            <div data-aos="fade-right" class="column">
               <img style="width: 23rem" alt="feature2 img" src="https://raw.githubusercontent.com/JastinXyz/discord-bot-landing-page-web/main/assets/img/features2.svg" class="image has-image-centered">
            </div>
            <div class="column">
               <h4 class="title">Feature <span class="has-text-primary">#2</span></h4>
               <p class="subtitle mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.
               </p>
            </div>
         </div>
      </div>
      <div class="single-feature">
         <div class="columns mt-6">
            <div class="column mr-6">
               <h4 class="title">Feature <span class="has-text-warning">#3</span></h4>
               <p class="subtitle mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.
               </p>
            </div>
            <div data-aos="fade-left" class="column">
               <img style="width: 23rem" alt="feature3 img" src="https://raw.githubusercontent.com/JastinXyz/discord-bot-landing-page-web/main/assets/img/features3.svg" class="image has-image-centered">
            </div>
         </div>
      </div>
      <div class="single-feature">
         <div class="columns mt-6">
            <div data-aos="fade-right" class="column">
               <img style="width: 23rem" alt="feature4 img" src="https://raw.githubusercontent.com/JastinXyz/discord-bot-landing-page-web/main/assets/img/features4.svg" class="image has-image-centered">
            </div>
            <div class="column">
               <h4 class="title">Feature <span class="has-text-info">#4</span></h4>
               <p class="subtitle mt-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat.
               </p>
            </div>
         </div>
      </div>
   </section>
   <section class="section mt-6" id="stats">
      <div class="has-text-centered">
         <h1 class="title lined">Stats</h1>
         <div class="line line-center blurple"></div>
      </div>
      <div class="columns mt-6">
         <div class="column has-text-centered">
            <p class="title has-text-weight-bold lined">000</p>
            <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-server"></i> Servers</span>
         </div>
         <div class="column has-text-centered">
            <p class="title has-text-weight-bold lined">000</p>
            <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-terminal"></i> Commands</span>
         </div>
         <div class="column has-text-centered">
            <p class="title has-text-weight-bold lined">000</p>
            <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-users"></i> Users</span>
         </div>
      </div>
   </section>
   <section class="section mt-6">
      <div class="columns">
         <div class="column has-text-left">
            <p class="title has-text-weight-bold">Ready to try <span class="blurple">[your bot]</span>?</p>
            <p class="subtitle has-text-gray mt-3">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
               dolore magna aliqua.
            </p>
            <a class="button is-blurple is-medium" href="#"><strong><i class="fa-solid fa-book"></i> Get Started</strong></a>
         </div>
         <div class="column"></div>
      </div>
   </section>
   <footer class="footer bg-base">
      <div class="content has-text-centered has-text-white">
         <div class="mb-2">
            <a class="has-text-white" href="#">
            <i class="fa-brands fa-discord"></i>
            </a>
            <a class="has-text-white" href="#">
            <i class="fa-brands fa-github"></i>
            </a>
         </div>
         <p>
            <span class="has-text-weight-bold">[Your Bot]</span>
            <br>
            © <span id="cp-year"></span> Copyright [Bot Owner]. All Rights Reserved.
         </p>
         <p class="is-uppercase" style="letter-spacing: 0.1em">
            Website Designed By
            <a class="blurple has-text-weight-bold" href="https://jstnlt.my.id">JstnLT</a>.<br>The Original Website
            Design is Open Source on
            <a class="blurple has-text-weight-bold" href="https://github.com/JastinXyz/discord-bot-landing-page-web">Github</a>
         </p>
      </div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script src="https://unpkg.com/@popperjs/core@2"></script>
   <script src="https://unpkg.com/tippy.js@6"></script>
   <script src="js/landing.js"></script>

    </body></html>